html {
	background-color: black;
	font-size: 10px; 
	font-family: "Roboto", sans-serif; 
}

 
h1 {
	background-color: HotPink;
	font-size: 36px;
	text-align: center;
	margin: 0px;
	padding: 20px 0;
	color: #00000F;
	text-shadow: 3px 3px 10px azure;
	border-style: double;
}


h2 {
	background-color: DeepPink;
	width: 100px;
 	font-size: 18px;
	line-height: 2;
	letter-spacing: 1px;
	border-style: double;
}	


p {
	background-color: MediumVioletRed;
	width: 100px;
 	font-size: 18px;
	line-height: 2;
	letter-spacing: 1px;
	border-style: double;
}


body {
	width: 1080px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	background-image: url("flor.png");
	background-color: #00000F;
}

img {
	width: 250;
	height: 250;
	align: center;
	margin: 0 auto;
}

.icon {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0 auto;
	padding: 20px 20px 10px 5px;
}
 button{float: right;}

.icon2 {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0 auto;
	padding: 20px 20px 10px 5px;
}

	
	
	
